<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GBM AI</title>
    <link rel="stylesheet" href="static/index.css"/>
    <script type="application/javascript" src="static/index.js" defer="defer"></script>
</head>
<body>
<div class="container">
    <h1>Get insights about GBM</h1>
    <form id="question_form">
        <input type="text" name="question" placeholder="Write a topic to get insights about">
        <input type="submit" id="submit" value="Ask">
        <div id="loading" style="display: none">Loading...</div>
    </form>
    <div id="answers">
        <div id="answers__list"></div>
        <button id="reset_button" onclick="reset()">Reset</button>
    </div>
</div>
</body>
</html>