<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GBM AI</title>
</head>
<body>
<h1>Ask any question about GBM</h1>
<form id="question_form">
    <label>
        <input type="text" name="question" placeholder="Ask a question">
    </label>
    <input type="submit" value="Ask">
</form>
<div id="answer">
    <p id="answer__text"></p>
    <button>Reset</button>
</div>
<style>
    #answer {
        display: none;
    }
</style>
<script type="application/javascript">
    document.getElementById('question_form').addEventListener("submit", async function (e) {
        e.preventDefault();
        const formData = new FormData(e.target);
        const response = await sendQuestion(formData.get('question'));
        await parseAnswer(await response.json())
    })

    async function sendQuestion(question) {
        return await fetch('/ask', {
            method: "POST",
            body: JSON.stringify({question}),
            headers: {
                'Content-Type': 'application/json'
            }
        });
    }

    async function parseAnswer(answer) {
        document.getElementById('answer__text').innerText = JSON.stringify(answer, null, 2);
        document.getElementById('answer').style.display = 'block';
    }
</script>
</body>
</html>